@import "tailwindcss";

@theme {
  --color-discord-gray-900: #1e1f22;
  --color-discord-gray-800: #2b2d31;
  --color-discord-gray-700: #313338;
  --color-discord-blurple: #5865F2;
  --color-discord-blurple-hover: #4752C4;
}

body {
  @apply bg-discord-gray-700 text-gray-100 font-sans m-0 p-0;
}
